@model eUp.Models.Field

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.FieldName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.FieldName)
    @Html.ValidationMessageFor(model => model.FieldName)
    @Html.Hidden("UserTableId", Model.UserTableId)
</div> 
<div class="editor-field">
    @Html.DropDownListFor(model => model.FieldType, Model.FieldType.Select(option => new SelectListItem {
        Text = (option == null ? "None" : option), 
        Value = option.ToString(),
        Selected = (Model != null) && (option == Model.FieldName)
    }), "Choose...")
</div> 

