@model eUp.Models.Field

@{
    ViewBag.Title = "Create";
}

<h2>Add Field</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Field</legend>

		@Html.Partial("_CreateOrEdit", Model)
        @Model.UserTableId{new @ViewBag.TableId}
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


