@model IEnumerable<eUp.Models.Field>

@{
    ViewBag.Title = "Index";
}

<h2>Fields Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Field Name
        </th>
        <th>
            Table
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FieldId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FieldId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FieldId })
        </td>
        <td>
			@item.FieldName
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Table.TableName).ToString()
            /
            @Html.DisplayTextFor(_ => item.Table.User.UserName).ToString()
        </td>
    </tr>
}

</table>


