@model eUp.Models.CompModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Table</legend>

        @Html.HiddenFor(model => model.Table.UserTableId)
        @Html.HiddenFor(model => model.Table.UserId)
		@Html.Partial("_Edit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
