
@{
    ViewBag.Title = "FillTable";
}

<h2>Form</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>

        <legend>UserTable</legend>
        @Html.Hidden("TableName", (string)ViewBag.TableName)

        @{
            //Counter to incremenet through Column data Types.
            int counter = 0;
         }

         @foreach (string i in ViewBag.Columns)
         {
                                                //Colum DataTypes as Strings
             <p>NEED TO VALIDATE TEXTBOX FOR @ViewBag.ColumnTypes[counter++] TYPE</p>
         <div class="editor-label">
            <p>
            @i
            </p>
         </div>
         <div class="editor-field">
            <p>
            @Html.TextBox(i)
            </p>
         </div>
         }
    </fieldset>
    <p>
         <input type="submit" value="Create" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
