
@{
    ViewBag.Title = "Form";
}

 @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @Scripts.Render("~/Scripts/jquery-1.9.1.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")

}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>

        @Html.Hidden("TableName", (string)ViewBag.TableName)
        @Html.Hidden("UId", (int)ViewBag.uId)
        @Html.Hidden("TId", (int)ViewBag.tId)
        

        @{
    //Counter to incremenet through Column data Types.
    int counter = 0;
         }

         @foreach (string i in ViewBag.Columns)
         {
                        //Colum DataTypes as Strings
             var type = @ViewBag.ColumnTypes[counter++];
             
             <label >@i</label>

             //renders text box input based on a type of column
             //validates inputs using JQuery
             if (type == "text")
             {
               <div class="editor-field">
                <p>
                 <input class="text-box single-line" data-theme="c" data-val="true"
                 data-val-length="Maximum length is 20" data-val-length-max="20" 
                 data-val-required="This field is required." 
                 id="@i" name="@i" type="text" value=""/>
                 <span class="field-validation-valid" data-valmsg-for="@i" data-valmsg-replace="true"></span>
                </p>
               </div>
             }
             else if (type == "float")
             {
               <div class="editor-field">
                <p>
                 <input class="text-box single-line" data-theme="c" data-val="true" 
                 data-val-number="This field must be a number." data-val-required="This field is required." 
                 id="@i" name="@i" type="text" value=""/>
                 <span class="field-validation-valid" data-valmsg-for="@i" data-valmsg-replace="true"></span>
                </p>
               </div>
             }
             else if (type == "bit")
             {
                 <fieldset data-role="controlgroup" data-type="vertical" data-mini="true">
                 <legend></legend>
                <input id="r1" name="@i" value="true" data-theme="b" type="radio" checked="checked">
                <label for="r1">True</label>
                <input id="r2" name="@i" value="false" data-theme="b" type="radio">
                <label for="r2">False</label>
                </fieldset>

             <span class="field-validation-valid" data-valmsg-for="@i" data-valmsg-replace="true"></span>
             }
         }
    </fieldset>
    <p>
         <input type="submit" value="Submit" />
    </p>
}


