@model IEnumerable<eUp.Models.UserTable>

@{
    ViewBag.Title = "Index";
}

<h2>Tables Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Table Name
        </th>
        <th>
            Fields
        </th>
        <th>
            User
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserTableId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserTableId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserTableId })
        </td>
        <td>
			@item.TableName
        </td>
        <td>
			@Html.ActionLink(item.Fields == null ? "None" : item.Fields.Count.ToString(), "Index","Fields")
        </td>
        <td>
			@(item.User == null ? "None" : item.User.UserName)
        </td>
        <td>
            @Html.ActionLink("Apply", "DbConnect", new {id = item.UserId, tableId=item.UserTableId})
        </td>
    </tr>
}

</table>


