@model IEnumerable<eUp.Models.UserTable>

@{
    ViewBag.Title = "ListTable";
}

<h2>ListTable</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink(item.TableName, "TableDetails", new { id = item.UserTableId })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserTableId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserTableId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserTableId })
        </td>
    </tr>
}

</table>
