@{
    ViewBag.Title = "About";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1><br />
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<article>
    <p>
    <h3>Aims</h3>
        Provide alternative to pen and paper sign ups
    </p>

    <p>
    <h3>Technical Details</h3>
    The site is developed using ASP.NET and the MVC 4 architectural framework.
        C#, HTML, Javascript, ELMAH, Unit Testing, etc
    </p>

    <p>
    <h3>Conclusions</h3>
        Blah Blah Blah????
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>